  <div class="field">
    <label>Department</label>
    <%= content_tag :span, {class: "glyphicon glyphicon-info-sign", data: {toggle: "tooltip", placement: "right" }, title: "Name of the department"} do %>
    <% end %>
    <br>
    <%= f.text_field :title  %>
  </div>
  <div class="field">
    <%= f.label :color %><br>
    <%= content_tag :span, {class: "glyphicon glyphicon-info-sign", data: {toggle: "tooltip", placement: "right" }, title: "The color in hex. e.g. #CDCDCD"} do %>
    <% end %>
    <br>
    <%= f.text_field :color %>
  </div>
  <div class="field">
    <%= f.label :classname %><br>
    <%= content_tag :span, {class: "glyphicon glyphicon-info-sign", data: {toggle: "tooltip", placement: "right" }, title: "Additional class to append"} do %>
    <% end %>
    <br>
    <%= f.text_field :classname %>
  </div>
  <div id="breadcrumb_text_field" class="field">
    <label>Breadcrumbs</label>
    <%= content_tag :span, {class: "glyphicon glyphicon-info-sign", data: {toggle: "tooltip", placement: "right" }, title: "Name of the department"} do %>
    <% end %>
    <br>
    <%= f.text_field :breadcrumbs, :class=>"tokenfield"  %>
  </div>