<%= form_wrap do -%>
  <%= form_for(@upload_form, url: example_index_path ) do |f| %>
    <div class="field">
      <%= f.label :file %><br>
      <%= f.file_field :file %>
    </div>

    <%= f.fields_for :parameters, f.object.parameter_object do |param_field| %>
      <%= render :partial => 'bay_automation_department/parameters', locals: { f: param_field } %>
    <% end %>

    <%= f.submit %>
  <% end %>

<% end %>