<!DOCTYPE html>
<html>
<head>
  <title>Bay automation department</title>
  <%= stylesheet_link_tag    "bay_automation_department/application", media: "all" %>
  <%= javascript_include_tag "bay_automation_department/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
